body{
	background: #FFDEE9;
}
header{
	background: #FCBDD4;
	padding: 20px 0;
}
.logo{
	max-width:175px;
    max-height:190px;
    width: auto;
    height: auto;
}
.pedra{
	font-family:  Cambria;
	position: relative;
	width: 840px;
	margin: 0 auto;
}
nav{
	position: absolute;
	top: 50%;
	right: 0;
}
nav li{
	display: inline;
	margin: 0 0 0 15px;
}
nav a{
	text-transform:  uppercase;
	color: #000000;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover {
	color: #B20068;
	text-decoration: underline;
}
nav a:active{
	color: #FFFFFF;
	text-decoration: underline;
}
.produtos {
    font-family: Times New Roman;
	width: 940px;
	margin: 0 auto;
	padding:  50px 0;
}
.produtos li{
	display: inline-block;
	text-align: center;
	width:  30%;
	vertical-align: top;
	margin:  0 1.5%;
	padding: 30px 20px;
	box-sizing:  border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}
.produtos li:hover{
	border-color: #B20068;
}
.produtos li:active{
	border-color: #FFFFFF;
	color: #FFFFFF;
}
.produtos li:hover h2{
	font-size: 35px;
	color: #B20068;
}
.produtos li:active h2{
	border-color: #FFFFFF;
	color: #FFFFFF;	
}
.produtos h2 {
	font-size: 30px;
	font-weight: bold;
}
.descricao {
	font-size: 18px;
}
.preco {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;
}
footer {
    font-family: Times New Roman;
	text-align: center;
	padding: 40px 0;
}
.imagem {
    max-width:175px;
    max-height:190px;
    width: auto;
    height: auto;
}
.copyright{
	font-size: 13px;
	margin: 20px;
}